{% extends 'base.html.j2' %}
{% block title %}{{milestone['name']}} | Milestone{% endblock %}
{% block description %}Super Texas A&M Trivia{% endblock %}
{% block child_container %}
<section class="mbr-fullscreen" style="background-image: url( {{ url_for('static',filename='images/'+milestone['photo_name']) }});" id="header2-1">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(118, 118, 118);"></div>
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                {{milestone['announcement']}}
                </h1>  
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    {{milestone['quote']}}
                 </p>
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center">
                 {# <div class="mbr-section-btn"> #}
                    <a class="btn btn-md btn-warning display-7" href="{{ milestone['learn_more'] }}">
                    Learn More
                    </a>
                {# </div> #}
                {# <div class="mbr-section-btn"> #}
                    <a class="btn btn-md btn-secondary display-7" href="{{ url_for('game', key='nxtq') }}">
                    Continue
                    </a>
                {# </div> #}
                </div>
            </div>
        </div>
</section>
<section class="progress-bars1 cid-rQBsI9Oyh3" id="progress-bars1-9">
    <div class="container">
        <div class="progress_elements">
            <div class="progress1 pb-5">
                <div class="title-wrap">
                    <div class="progressbar-title mbr-fonts-style display-5">
                        <p>Overall Status</p>
                    </div>
                    <div class="progress_value mbr-fonts-style display-7">
                        {# <div class="progressbar-number">{{game['progress']}}</div> #}
                        <span>{{game['progress']}}%</span>
                    </div>
                </div>
                <progress class="progress progress-primary" max="100" value="{{game['progress']}}">
                </progress>
            </div>
        </div>
    </div>
</section>
{% endblock child_container %}