{% extends "base.html.j2" %}
{% block title %}Start Trivia{% endblock title %}
{% block description %}Start Texas A&M Trivia{% endblock description %}
{% block child_container %}
  <section class="cid-rQBA24jZpM mbr-fullscreen" id="header2-i">
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">
                    {{ prompt }}</h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    This may or may not be useful as a hint area.
                </p>
                <div class="mbr-section-btn">
                    {% for option in answer_choices%}
                    <a class="btn btn-md btn-info-outline display-4" href="{{url_for('game', key=option)}}">{{ option }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section article content9 cid-rQBAwKLiza" id="content9-j">
    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-2">
            <strong>
                Answer was 
            </strong>
            {% for key in answerType.keys() %}
            <strong style="color: {{ answerType[key] }};">{{ key }}</strong>
            {% endfor %}
            </div>
            <hr class="line" style="width: 25%;">
        </div>
        </div>
</section>
<section class="mbr-section content8 cid-rQBzIGP5gw" id="content8-g">
    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="https://mobirise.co"><span class="mobi-mbri mobi-mbri-close mbr-iconfont mbr-iconfont-btn"></span>Q-Drop</a>
                    <a class="btn btn-warning display-4" href="https://mobirise.co"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>Next Question</a></div>
            </div>
        </div>
    </div>
</section>
<section class="progress-bars1 cid-rQBsI9Oyh3" id="progress-bars1-9">
    <div class="container">
        <div class="progress_elements">
            <div class="progress1 pb-5">
                <div class="title-wrap">
                    <div class="progressbar-title mbr-fonts-style display-5">
                        <p>
                            Overall Status</p>
                    </div>
                    <div class="progress_value mbr-fonts-style display-7">
                        <div class="progressbar-number"></div>
                        <span>%</span>
                    </div>
                </div>
                <progress class="progress progress-primary" max="100" value="70">
                </progress>
            </div>
        </div>
    </div>
</section>
{% endblock child_container %}
